<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.luvie.luvieapps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_luvie"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_luvie"
        android:supportsRtl="true"
        android:theme="@style/Theme.HaloQlinicApps"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:theme">
        <activity
            android:name=".LihatHistoryKonsultasiActivity"
            android:exported="true" />
        <activity
            android:name=".SummaryActivity"
            android:exported="true" />
        <activity
            android:name=".DetailAlergiActivity"
            android:exported="true" />
        <activity android:name=".TambahAlergiObatActivity" />
        <activity android:name=".AlergiObatActivity" />
        <activity android:name=".KebijakanPrivasiActivity" />
        <activity android:name=".DetailProdukMitraActivity" />
        <activity android:name=".LupaPasswordActivity" />
        <activity android:name=".DokterMitraActivity" />
        <activity android:name=".UbahPasswordActivity" />
        <activity android:name=".DetailArtikelActivity" />
        <activity android:name=".ArtikelActivity" />
        <activity android:name=".ListTebusObatActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".ProfileMitraActivity" />
        <activity android:name=".KategoriActivity" />
        <activity android:name=".SkincareActivity" />
        <activity android:name=".DetailHistoryActivity" />
        <activity android:name=".TungguAccActivity" />
        <activity android:name=".ResepObatActivity" />
        <activity android:name=".HistoryKonsultasiActivity" />
        <activity android:name=".ProdukMitraActivity" />
        <activity android:name=".InvoiceKonsultasiActivity" />
        <activity android:name=".MitraKlinikActivity" />
        <activity android:name=".DokterSpesialisActivity" />
        <activity android:name=".DokterTersediaActivity" />
        <activity android:name=".CheckoutKonsultasiActivity" />
        <activity android:name=".AturJadwalActivity" />
        <activity android:name=".DetailTransaksiActivity" />
        <activity android:name=".InvoiceActivity" />
        <activity android:name=".OpsiBayarActivity" />
        <activity
            android:name=".PilihKurirActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".CheckoutProdukActivity" />
        <activity
            android:name=".DetailPesananActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ChatActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".HistoryActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".KeranjangActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".EditAkunActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".DetailProdukActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".DetailDokterActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".JadwalKonsultasiActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".SignUpActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".SplashActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <meta-data
            android:name="com.onesignal.NotificationServiceExtension"
            android:value="id.luvie.luvieapps.oneSignal.NotificationServiceExtension" />

        <service android:name=".service.MyService" />
    </application>

</manifest>